/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #86a3b3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn.btn-primary {
    color: #0c2542;
    font-weight: 700;
}

.btn.btn-primary:disabled {
    background-color: #86a3b3;
    border-color: #86a3b3;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn.btn-primary {
    background-color: #f1c813;
    border-color: #f1c813;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #d3ad08;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}